.chatroom {
    display: grid;
    grid-template-areas:
        "messages users"
        "input users";
    grid-auto-rows: 60% auto;
    grid-auto-columns: 75% auto;
    grid-gap: 8px;
    height: calc(100% - 18px);
    width: 100%;
} 

.chatroom > .messages {
    width: 100%;
    height: 100%;
    grid-area: messages;
    border: 1px solid #bfbeca;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
    padding-top: 4px;
    overflow-y: scroll;
}

.chatroom > .messages::-webkit-scrollbar {
    width: 14px;
}

.chatroom > .messages::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #e2eaf3, #d9e3f9);
    border: 1px solid #6d7d9e;
}

.chatroom > .messages::-webkit-scrollbar-track {
    background: #e4eafa;
}

.chatroom > .input {
    width: 100%;
    height: 100%;
    grid-area: input;
    border: 1px solid #bfbeca;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
}

.chatroom > .users {
    width: 100%;
    height: 100%;
    grid-area: users;
    border: 1px solid #bfbeca;
    border-radius: 5px;
    box-sizing: border-box;
    overflow-y: scroll;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.chatroom > .messages > .message {
    margin-bottom: 8px;
}

.chatroom > .messages > .message > .user-info {
    display: flex;
    flex-direction: row;
    align-items: end;
    padding-bottom: 4px;
    padding-left: 4px;
    border-bottom: 1px solid #bfbeca;
}

.chatroom > .messages > .message > .user-info > img {
    outline: 1px solid #bfbeca;
    border: 1px solid #fff;
    border-radius: 3px;
}

.chatroom > .messages > .message > .user-info > span {
    font-size: 14px;
    font-weight: bold;
    margin-left: 4px;
    user-select: none;
    color: #16193a;
}

.chatroom > .messages > .message > .content {
    display: block;
    margin-left: 4px;
    font-size: 13px;
    word-break: break-word;
}

.chatroom > .input > .toolbar {
    background: linear-gradient(0deg, #6d7d9e, #e9f0fc, #6d7d9e);
    height: 15%;
    box-sizing: border-box;
}

.chatroom > .input > .toolbar:first-child {
    border-bottom: 1px solid #bfbeca;
}

.chatroom > .input > .toolbar:last-child {
    border-top: 1px solid #bfbeca;
}

.chatroom > .input > .message-area {
    display: flex;
    height: 70%;
    box-sizing: border-box;
    background-color: #f9fafe;
}

.chatroom > .input > .message-area > textarea {
    width: 70%;
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 4px;
    resize: none;
    font-size: 13px;
}

.chatroom > .input > .message-area > textarea::-webkit-scrollbar {
    width: 0;
}

.chatroom > .input > .message-area > button {
    width: 20%;
    height: 60%;
    max-width: 200px;
    max-height: 150px;
    background: linear-gradient(45deg, #f6fafd, #cddaf4);
    margin: auto;
    padding: 10px 8px;
    border: 1px solid #a8acb4;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #9baebd;
    color: #6c6f72;
    font-weight: bold;
    cursor: pointer;
}

.chatroom > .input > .message-area > button:active {
    transform: scale(0.95);
    filter: brightness(0.8);
}

.chatroom > .users::-webkit-scrollbar {
    width: 14px;
}

.chatroom > .users::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #e2eaf3, #d9e3f9);
    border: 1px solid #6d7d9e;
}

.chatroom > .users::-webkit-scrollbar-track {
    background: #e4eafa;
}

.chatroom > .users > .user {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-left: 16px;
    user-select: none;
}

.chatroom > .users > .user > img {
    width: 13px;
    vertical-align: bottom;
}

.chatroom > .users > .user > span {
    max-width: 200px;
    margin-left: 4px;
    border: 1px solid transparent;
    overflow: hidden;
    text-overflow: ellipsis;
}